<div id= 'edit-entry-form' class='edit-entry-container col-sm-offset-2 col-sm-8'>
<%= form_for @entry, html: {method:"put"} do |form| %>
  <%= render partial: '/entries/form', object: form %>

  <div class="submit-field">
    <%= form.submit 'Edit Entry', class: 'btn btn-default'%>
  </div>

<% end %>
</div>
