<h1>Hello, <%= current_user.name %> </h1>
<h4>User since <%= current_user.created_at.strftime("%m/%d/%Y") %></h4>
<p> Current City: <%= current_user.location %>




<% @entries.each do |entry| %>
<h3><%= link_to entry.title,  entry_path(entry.id) %></h3>
<% end %>
