
  <h2><%= t(".title") %></h2>

  <%= form_for @entry do |form| %>
    <%= render partial: '/entries/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

  <% end %>
</div>
