<div class="show-entry-container">
  <div class="col-sm-offset-1 col-sm-10 entry">

    <h3><%= @entry.title %></h3>
    <p> <%= @entry.description %></p>
    <p>Author: <%= current_user.name %></p>

    <%= button_to "Delete", @entry, method: :delete %>

  </div>
</div>
