<div id='new_user' class= 'edit-user-container'>

  <%= form_for(@user, html: { class: 'form-horizontal col-sm-offset-2 col-sm-8 new-form' }) do |form| %>
    <div class='sign-up-form col-sm-offset-2 col-sm-8'>
      <%= render partial: '/users/form', object: form %>

      <div class="submit-field">
        <%= form.submit 'Update User', class: 'btn btn-default'%>
      </div>

      <%= link_to 'Back',  entries_path, class: 'btn btn-default read-more' %>

    <% end %>
  </div>
</div>
