<div id= 'edit-user-form' class= 'edit-user-container col-sm-offset-2 col-sm-8'>
  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit 'Update User', class: 'btn btn-default'%>
    </div>

  <% end %>
</div>
