/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Raleway', sans-serif;
  background-color: #eee;
}

#flash {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 40px;
  color: orangered;
}

#flash-login {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: orangered;
}

#flash-entry {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: orangered;
}

// Profile Page / Entries index

// Header ---->

div.profile {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url('./splash-tween.jpg') no-repeat top center;
  background-size: cover;
  height: 500px;
  margin: 0;
  max-width: 1920px;
  box-shadow: 0px 15px 20px -10px #666;
  position: relative;
  z-index: 1;
  clip-path: inset(120px 0 0 0 );
  margin-top: -120px;
}

div.user-info {
  top: 250px;
  margin-left: 20px;
}

div.user-info-city {
  top: 300px;
  z-index: 2;
  position: absolute;
}

.user-name {
  font-weight: 400;
  padding-bottom: 5px;
  padding-top: 20px;
  font-size: 35px;
}

.user-name, .location, .user-since {
  margin: 0;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

span.glyphicon-map-marker {
  margin-right: 5px;
}

.text-block {
  display: inline-block;
}

.user-img {
  width: 120px;
  height: 120px;
  float:left;
  margin-right: 25px;
  border-radius: 50%;
}

a.edit-profile {
  border: none;
  margin-top: 10px;
  color: #eee;
  background: transparent;
  font-family: 'Raleway', sans-serif;
  margin-right: 40px;
}


a.edit-profile:hover {
 background-color: transparent;
 border: none;
 border-radius: 50%;
 color: #666;
}

// end Header --->

// Entry cards --->

.entries-container {
 position: relative;
 padding: 20px 0 50px 0;
 height: 100%;
 background-color: #eee;
 z-index: 0;
}

.headline {
   color: #666;
   border-bottom: 3px solid #666;
   padding-bottom: 20px;
}

div.entry {
 margin: 25px 0 25px 0;
 background-color: #fff;
 padding: 10px;
 box-shadow: 0px 15px 20px -10px #666;
}

.city-img {
 border-right: 1px solid #eee;
 height: 100px
}

.city-icon, .prof-icon {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

h3.entry-title {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

a.entry-title-link {
  color: #ce5749;
  text-decoration: none;
}

.btn-bar {
  padding: 10px;

}

a.read-more {
  float: left;
  font-family: 'Raleway', sans-serif;
  border-color: #ce5749;
  color: #ce5749;
}

a.delete-entry, a.edit-entry {
  border: none;
  float: right;
}

ul.city-nav {
  margin-top: 30px;
  padding: 0;
  border-left: 1px solid #fff;
  padding-left: 30px;
}

li.city-list {
  text-decoration: none;
  display: inline;
  font-family: 'Raleway', sans-serif;
}

a.city-link {
  color: #fff;
  margin-right: 30px;
  font-weight: 300;
  border-right: 1px solid #fff;
  padding-right: 30px;
}

a.city-link:hover {
  text-decoration: none;
}

// Sign-up Form -->

form#new_user {
  background-color: #fff;
  box-shadow: 0px 15px 20px -10px #666;
  padding: 40px 0 40px 0;
  margin-top: 60px;
}

.sign-up-container {
  height: 100vh;
  background-color: #eee;
}

// Edit User form
.new-form {
  background-color: #fff;
  box-shadow: 0px 15px 20px -10px #666;
  padding: 40px 0 40px 0;
  margin-bottom: 200px;
}

.new-form-user {
  background-color: #fff;
  box-shadow: 0px 15px 20px -10px #666;
  padding: 40px 0 40px 0;
  margin-bottom: 200px;
  margin-top: 150px;
}

form.new-form-city {
  background-color: #fff;
  box-shadow: 0px 15px 20px -10px #666;
  padding: 40px 0 40px 0;
  margin-bottom: 200px;
  margin-top: 150px;
}

// Navbar

.navbar-fixed-top.fixednav {
    background-color: rgba(0,0,0, 0.3);
    // border-bottom: 1px solid #666; -- maybe?
  }

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #fff;
  margin: 0;
}

p.user-nav {
  float: right;
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
}

a.title:hover {
  text-decoration: none;
  color: #fff;
}

a.sign-up, .sign-out {
  color: #fff;
  background: transparent;
  border-color: #fff;
  font-family: 'Raleway', sans-serif;
}

// Sign-in Welcome Page

section.welcome-section {
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url('./splash-tween.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
  margin: 0;
  clip-path: inset(80px 0 0 0 );
  margin-top: -80px;
}

.login-form {
  padding: 20px 0 20px 0;
  border: solid 1px #eee;
  margin-top: -200px;
  margin-bottom: 100px;
  background-color: #fff;
  box-shadow: 0px 15px 20px -10px #666;
}

h3.login-title {
  margin: 0 0 10px 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

a.forgot-password {
  margin-left: 20px;
  color: #999;
}

a.thumbnail {
  border: none;
  box-shadow: 0px 15px 20px -10px #666;
  padding: 0;
}

.thumbnails {
  margin-top: -50px;
}

// City pages

.city-bg-img {
  max-width: 100%;
  position: relative;
  z-index: 1;
  max-height: auto;
  box-shadow: 0px 15px 20px -10px #666;
  clip-path: inset(200px 0 0 0 );
  margin-top: -200px;
}

.city-name {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  z-index: 2;

}

.city-text {
  font-weight: 900;
  font-size: 100px;
}


// New Entry

#new_entry {
  margin-top: -100px;
  position: relative;
  z-index: 2;
}

.btn.new-post {
  background-color: transparent;
  border: 1px solid #666;
  float: right;
}

//Show entry
.show-entry-container {
 position: relative;
 padding: 20px 0 50px 0;
 height: 100%;
 background-color: #eee;
 z-index: 0;
}

p.author {
  text-align: center;
}

// Edit entry
.edit-entry-container {
  position: relative;
  margin-top: 100px;
  padding: 20px 0 50px 0;
  height: 100%;
  background-color: #eee;
  z-index: 0;
}


// Media Queries

@media (max-width: 767px) {
  .city-icon {
    display: none;
  }
}
